div{
    border: 3px solid;
    border-color : #393;
    min-width: 400px;
}

body {
    font-size: 12px;
    background: #FFF;
    color: #333;
    margin: 0px;
}

#content {
    margin: 0px;
    padding: 10px;
    background: #fff;
}

#rank-list a {
    color: #393;
    font-weight:bold;
    font-size:expression(document.body.clientWidth / 15);
    text-decoration: none;
}

#rank-list a:hover {
    text-decoration: underline;
}

#rank-list {
    overflow: hidden;
    //width: 160px;
    height: 20px;
    margin: 0;
}

#rank-list dt {
    display: none;
}

#rank-list dd {
    position: relative;
    margin: 0;
}

#rank-list ol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rank-list li {
    height: 20px;
    line-height: 20px;
}
