@charset "utf-8";

@font-face {
	font-family: ngttf;
	src: url(NanumGothic.ttf);
}

@font-face {
	font-family: ngeot;
	src: url(NanumGothic.eot);
}

.full {
	background: #9ec5d1;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	
}

#mynetwork, html, body {
	background: #9ec5d1;
	padding: 0;
	margin: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	
}

#context-menu-icon {
	bottom:17%;
	right:6%;
	background: #9ec5d1;
	position: absolute;
	z-index: 1;
}

#context-menu-icon img {
	top:0px;
	
	background: #9ec5d1;
	position: absolute;
	z-index: 1;
}