  body {
        padding-top: 60px;
      			}

h4{
	
	text-align:center;
	
}

.cont{
	
}

#groupMember{
	width:200px;
	
	
}

#groupAuthority{
	width:300px;
}

#fileAuthority{
	width:100px;
}

.container{
		
	text-align:center;
}

#selectGroup{
	width:200px;

}

#searchMember{
	width:150px;	
}

   .ui-autocomplete
    {
        max-height: 200px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }