  body {
        padding-top: 60px;
      			}

h4{
	
	text-align:center;
	
}

.cont{
	margin:auto;
	text-align:center;

	padding : 10px;
	width:400px;
}



#groupMember{
	width:20%;
	
	
}

#fileAuthority{
	width:20%;
}

#bandAuthority{
	width:20%;
}

#selectGroup{
	width:20%;
}

.container{
		
	text-align:center;
}

#searchMember{
	width:150px;	
}



#removeMember{
	
	width:50px;	
	background-color:#ff4d00;
}

   .ui-autocomplete
    {
        max-height: 200px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }